<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>唯公商城--下载App</title>
    <link type="text/css" rel="stylesheet" href="/Public/Home/css/style.css">
    <script type="text/javascript" src="/Public/Home/js/jquery-1.11.1.min.js"></script>
</head>
<body class="downBg">

<div class="erweim">
    <img src="/Public/Home/images/erweima.png" alt="">
</div>

<div class="downText">
    <h2>下载唯公商城客户端</h2>
    <p>享受更多优惠特权</p>

    <a href="#" class="centerboth"><img src="/Public/Home/images/anzhuo.png" alt="">Android</a>
</div>

</body>
</html>