<extend name="Public:header" />
<block name="title">
    <title>唯公商城-管理主页</title>
</block>
<block name="content">
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span><img alt="image" class="img-circle" src="__PUBLIC__/Admin/img/profile_small.jpg" style="width:70px;height:70px;"/></span>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$username}</strong></span>
                                <span class="text-muted text-xs block">{$rolename}<b class="caret"></b></span>
                                </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{:U('Login/logout')}">安全退出</a>
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">后台
                    </div>
                </li>
                <volist name="mymenus" id="vo">
                    <li>
                        <if condition="$vo['child']">
                            <a href="#" >
                                <i class="{$vo.icon}"></i>
                                <span class="nav-label">{$vo.title}</span>

                                <span class="fa arrow"></span>

                            </a>
                            <else/>
                            <a class="J_menuItem" href="{:U('defaultIndex')}" data-index="0">
                                <i class="{$vo.icon}"></i>
                                <span class="nav-label">{$vo.title}</span>

                            </a>
                        </if>

                        <if condition="$vo['child']">
                            <ul class="nav nav-second-level">
                                <volist name="vo.child" id="v">
                                    <li>
                                        <a class="J_menuItem" href="__ROOT__/index.php/Admin/{$v.name}" data-index="0">{$v.title}</a>
                                    </li>
                                </volist>
                            </ul>
                        </if>
                    </li>
                </volist>

            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="###" ><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i> <span class="label label-primary">{$message_count}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="javascript:;" onclick="jump1()" >
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> 您有{$message_count}条未读消息
                                        <!--<span class="pull-right text-muted small">4分钟前</span>-->
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="{:U('defaultIndex')}">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="{:U('Login/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="{:U('defaultIndex')}" frameborder="0" data-id="{:U('defaultIndex')}" seamless></iframe>
        </div>
        <div class="footer">
            <!--<div class="pull-right">&copy; 2014-2015 <a href="http://www.zi-han.net/" target="_blank">zihan's blog</a>-->
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->
    <!--右侧边栏结束-->
    <!--mini聊天窗口开始-->
</div>
    <script src="__JS__/plugins/peity/jquery.peity.min.js"></script>
    <script src="__JS__/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__JS__/hplus.min.js?v=4.1.0"></script>
    <script src="__JS__/plugins/pace/pace.min.js"></script>
<script>
    function jump1(){
        $("#side-menu>li").find('a[href="/index.php/Admin/Config/message"]').click();
    }
</script>
</body>
</block>