<extend name="Public:header" />
<block name="stylejs">
<link rel="stylesheet" href="__STATIC__/kindeditor/themes/simple/simple.css" />
<script type="text/javascript" charset="utf-8" src="__STATIC__/kindeditor/kindeditor.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/kindeditor/lang/zh_CN.js"></script>
 
 <style type="text/css">
    #album .uploadify-queue-item{
        height: 230px;
    }
    #album .showthumbs img{
         max-height: 190px;
     }
 </style>
</block>

<block name="content">
    <body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12 ibox float-e-margins">
                <div class="tabs-container">
                    <div class="ibox-title" style="border-bottom: 0;border-top: 0;">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">基本信息</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">图文信息</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">商品模型</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">运费配置</a>
                            </li>
                        </ul>
                    </div>
                    <div class="ibox-content" style="border-top: 0;">
                        <form role="form" action="{:U('Goods/addGoods')}" id="form-add" class="form-horizontal">
                            <input type="hidden" id="goods_id" <notempty name="info">value="{$info['id']}"</notempty> name="id" /> 
                            <input type="hidden" name="shopId" value="{$_SESSION['shop_admin']['shop_auth']['shopId']}"> 
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >商品名称</label>
                                        <div class="col-sm-10 shot">
                                            <input type="text" class="form-control" <notempty name="info">value="{$info['name']}"</notempty> name="name" style="width:60%;display:inline-block;" autocomplete="off" placeholder="商品名称">
                                            <label style="color: red;font-size:20px;" >&nbsp;*</label>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div> 
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >商品货号</label>
                                        <div class="col-sm-10 shot">
                                            <input type="text" class="form-control" <notempty name="info">value="{$info['goodsSn']}"<else/>value=""</notempty> name="goodsSn" style="width:60%;display:inline-block;" autocomplete="off" placeholder="商品货号"><br/>
                                            <label style="color: #9f9f9f;font-size:12px;padding-top: 5px;" >&nbsp;不填写则自动生成</label>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>   
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >商品分类</label>
                                        <div class="col-sm-10 shot">
                                            <select name="fid" class="form-control" id="fid" style="width:30%;display:inline-block;">
                                            <option value="">请选择</option>
                                                <volist name="cates" id="vo">
                                                    <option value="{$vo.id}" <notempty name="info"><eq name="info.fid" value="$vo.id">selected</eq></notempty>>{$vo.name}</option>
                                                </volist>
                                            </select>
                                            <select name="cid" id="cid" class="form-control" style="width:30%;display:inline-block;">
                                                <option value="">请选择</option>
                                                <notempty name="info.scates">
                                                    <volist name="info.scates" id="vo">
                                                        <option value="{$vo.id}" <notempty name="info.cid"><eq name="info.cid" value="$vo.id">selected</eq></notempty>>{$vo.name}</option>
                                                    </volist>
                                                </notempty>
                                            </select>
                                            <label style="color: red;font-size:20px;" >&nbsp;*</label>
                                        </div>
                                        
                                    </div>
                                    <div class="hr-line-dashed"></div>  
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >商品价格</label>
                                        <div class="col-sm-10 shot">
                                            <input type="text" name="price" class="form-control" <notempty name="info">value="{$info['price']}"</notempty> style="width:60%;display:inline-block;">
                                            <label style="color: red;font-size:20px;" >&nbsp;*</label>
                                        </div>
                                        
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >商品库存</label>
                                        <div class="col-sm-10 shot">
                                            <input type="text" name="stock" class="form-control" <notempty name="info">value="{$info['stock']}"</notempty> style="width:60%;display:inline-block;">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >封面图</label>
                                        <div class="col-sm-10 shot">
                                            <div>(支持:jpg、jpeg、png、gif； 尺寸：宽500*高500px；大小：限5M内)</div>
                                            <div id="img"></div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">排序</label>
                                        <div class="col-sm-10 shot">
                                            <input type="number" class="form-control" <notempty name="info">value="{$info['sorts']}"<else/>value="50"</notempty> name="sorts"  style="width:60%;"  autocomplete="off" style="width:250px;">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <notempty name="info">
                                        <div class="form-group">
                                            <label class="col-sm-2">&nbsp;</label>
                                            <button class="btn btn-primary" type="submit">保存</button>
                                        </div>
                                    <else/>
                                        <div class="form-group">
                                            <label class="col-sm-2">&nbsp;</label>
                                            <a class="btn btn-primary" href="javascript:showTab(2);">下一步</a>
                                        </div>
                                    </notempty>
                            
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    
                                    <div class="form-group" id="album">
                                        <label class="col-sm-2 control-label" >商品相册</label>
                                        <div class="col-sm-10 shot">
                                            <div>(支持:jpg、jpeg、png、gif； 尺寸：宽500*高500px；大小：限5M内)</div>
                                            <div id="images"></div>
                                        </div>
                                        
                                    </div>
                                    <div class="hr-line-dashed"></div> 
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >图文介绍</label>
                                        <div class="col-sm-10 shot">
                                            <textarea class="form-control" name="detail" style="width: 80%;height: 300px;" id="editor"><notempty name="info">{$info['detail']}</notempty></textarea>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <notempty name="info">
                                        <div class="form-group">
                                            <label class="col-sm-2">&nbsp;</label>
                                            <button class="btn btn-primary" type="submit">保存</button>
                                        </div>
                                    <else/>
                                        <div class="form-group">
                                            <label class="col-sm-2">&nbsp;</label>
                                            <a class="btn btn-primary" href="javascript:showTab(3);">下一步</a>
                                        </div>
                                    </notempty>
                                    
                            
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >商品模型</label>
                                        <div class="col-sm-10 shot">
                                            <select name="typeId" id="spec_type" class="form-control" style="width: 60%;display: inline-block;">
                                                <option value="0">选择商品模型</option>
                                                <volist name="types" id="vo">
                                                    <option value="{$vo.id}" <notempty name="info"><eq name="info.typeId" value="$vo.id">selected</eq></notempty>>{$vo.name}</option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div> 
                                    <div class="form-group">
                                        <!-- ajax 返回规格-->
                                        <label class="col-sm-2 control-label" >&nbsp;</label>
                                        <div id="ajax_spec_data" class="col-sm-8"></div>
                                    </div> 
                                    <div class="hr-line-dashed"></div> 
                                    <notempty name="info">
                                        <div class="form-group">
                                            <label class="col-sm-2">&nbsp;</label>
                                            <button class="btn btn-primary" type="submit">保存</button>
                                        </div>
                                    <else/>
                                        <div class="form-group">
                                            <label class="col-sm-2">&nbsp;</label>
                                            <a class="btn btn-primary" href="javascript:showTab(4);">下一步</a>
                                        </div>
                                    </notempty>
                                </div>
                                <div id="tab-4" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >默认运费</label>
                                        <div class="col-sm-10 shot">
                                            <input type="text" name="shipFee" class="form-control" <notempty name="info">value="{$info['shipFee']}"<else/>value="0"</notempty> style="width:60%;display:inline-block;"><br/>
                                            <label style="color: #9f9f9f;font-size:12px;padding-top: 5px;" >&nbsp;0即包邮</label>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" >特殊地区运费配置</label>
                                        <div class="col-sm-10 shot">
                                            <notempty name="provinces">
                                                <volist name="provinces" id="vo">
                                                    <div style="padding: 3px 0;">
                                                        <input name="province[]" type="hidden" value="{$vo.province}">
                                                        <label class="col-sm-2 control-label" >{$vo.province}</label>
                                                        <input type="text" name="fee[]" class="form-control" value="{$vo.fee}" style="width:25%;display:inline-block;">
                                                    </div>
                                                </volist>
                                                <label style="color: #9f9f9f;font-size:12px;padding-top: 5px;" >&nbsp;空则与默认运费一致</label>
                                            <else/>
                                                商家没有配置特殊地区
                                            </notempty>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2">&nbsp;</label>
                                        <button class="btn btn-primary" type="submit">保存</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('#editor', {
                themeType : 'simple',
                resizeType: 1,
            });
        });
    </script>
    <link rel="stylesheet" href="__STATIC__/Huploadify/Huploadify.css">
    <script charset="utf-8" src="__STATIC__/Huploadify/jquery.Huploadify.js"></script>
    <script charset="utf-8" src="__STATIC__/Huploadify/Huploadify.js"></script>
    <script>
        $(function() {
            var upUrl = "{:U('Admin/UploadFile/upimage')}";
            var delUrl = "{:U('Admin/UploadFile/delete')}";
            //封面图片
            var img = "{$info['img']}";
            var images = "{$info['images']}";
            upimage("img", "img", upUrl, delUrl, img);
            upimages("images", "images", upUrl, delUrl, images);
        });
    </script>
    <script type="text/javascript">
        /** 以下 商品规格相关 js*/
    $(document).ready(function(){   
    // 商品模型切换时 ajax 调用  返回不同的属性输入框
    $("#spec_type").change(function(){        
        var goods_id = '{$info.id}';
        var spec_type = $(this).val();
            $.ajax({
                    type:'GET',
                    data:{goods_id:goods_id,spec_type:spec_type}, 
                    url:"{:U('Shop/Goods/ajaxGetSpecSelect')}",
                    success:function(data){                    
                       $("#ajax_spec_data").html('')
                       $("#ajax_spec_data").append(data);
                       ajaxGetSpecInput();  // 触发完  马上触发 规格输入框
                    }
            });           
            //商品类型切换时 ajax 调用  返回不同的属性输入框     
           //  $.ajax({
           //       type:'GET',
           //       data:{goods_id:goods_id,type_id:spec_type}, 
           //       url:"/index.php/admin/Goods/ajaxGetAttrInput",
           //       success:function(data){                            
           //               $("#goods_attr_table tr:gt(0)").remove()
           //               $("#goods_attr_table").append(data);
           //       }        
           // });
    });
    // 触发商品规格
    $("#spec_type").trigger('change'); 
    
    // $("input[name='exchange_integral']").blur(function(){
    //     var shop_price = parseInt($("input[name='shop_price']").val());
    //     var exchange_integral = parseInt($(this).val());
    //     if (shop_price * 100 < exchange_integral) {
            
    //     }
    // });
});
    $("#fid").change(function(){
        var fid = $("#fid").val();
        if(fid){
            $.ajax({
                    type:'GET',
                    data:{fid:fid},
                    dataType:'json' ,
                    url:"{:U('Shop/Goods/ajaxGetCates')}",
                    success:function(data){  
                       $("#cid").html('');
                       console.log(data);
                       var str = '<option value="">请选择</option>';
                       // $.each(data,function(a,b){
                       //      str += '<option value="'+b.id+'">'+b.name+'</option>';
                       // });
                       for(var i=0;i<data.length;i++){
                            str += '<option value="'+data[i].id+'">'+data[i].name+'</option>';
                       }
                       $("#cid").append(str);
                    }
            });  
        }
    });
    
    function showTab(num){
        $(".ibox-title ul>li").find('a[href="#tab-'+num+'"]').click();
    }
    </script>
</block>


