<extend name="Public:header" />
<block name="content">
    <body class="gray-bg">
   <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <form class="form-inline" id="form-search">
                            <div class="input-group">
                                <input type="text" class="form-control" name="name" id="name" style="width:150px;" placeholder="模型名称">
                            </div>
                            
                            <div class="input-group">
                                <select class="form-control" name="status">
                                    <option value="">状态</option>
                                    <option value="1">正常</option>
                                    <option value="0">禁用</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn-sm btn-primary" type="button" id ="search-btn" ><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <div class="input-group">
                                <button class="btn-sm btn-primary " type="button" id="search-clear"><i class="fa fa-undo"></i></button>
                                
                            </div>
                        </form>
                    </div>
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="table" style="border-collapse: collapse"></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
<script>
var dataUrl = "{$dataUrl}";
var editUrl = "{$editUrl}";
var addUrl = "{$addUrl}";
var showUrl = "{$showUrl}";
var delUrl = "{$delUrl}";
$(function(){
    $(document).ready(function() {
        $(window).bind("resize",function(){
            var width=$(".jqGrid_wrapper").width();
            $("#table").setGridWidth(width);
        })
    });
    $.jgrid.defaults.styleUI="Bootstrap";
    var lastsel;
        $("#table").jqGrid({
            url:dataUrl,
            datatype: "json",
            colNames:['ID','模型名称','状态','操作'],
            colModel:[
                {name:'id',index:'id', width:55,align:'center'},
                {name:'name',index:'name',editable: true,sortable: false,align:'center'},
                {name:'status',index:'status',editable: false,sortable: false,align:'center',formatter:function (a,b,c){
                    if(a == 0){
                        val = '<i class="fa fa-close" style="color:red"></i>';
                    } 
                    else{
                        val = '<i class="fa fa-check" style="color:#00a157"></i>';
                    } 
                    return '<a href="javascript:void(0);" onclick="changeStatus('+c.id+','+a+')">'+val +'</a>';
                }},
                {width:100,sortable: false,align:'center',formatter: function (a, b, c) {
                    var btn = '<a href="javascript:void(0);" onclick="specFun(' + c.id + ')" ><i title="规格列表" class="fa fa-sliders"></i></a>';
                        btn += '&nbsp;&nbsp;<a href="javascript:void(0);" onclick="addFun(' + c.id + ')" ><i title="编辑" class="fa fa-edit"></i></a>';
                        btn += '&nbsp;&nbsp;<a href="javascript:void(0);" onclick="deleteFun(' + c.id + ')"><i title="删除" class="fa fa-trash"></i></a>';
                        
                        return btn;  
                    }
                },
            ],
            rowNum:10,
            rowList:[10,20,30],
            pager: '#pager',
            sortname: 'id',
            viewrecords: true,
            autowidth:true,
            height: 'auto',
            emptyrecords: "暂无数据",
            sortorder: "desc",
            caption:"<a href='javascript:void(0)' onclick='addFun()'><i class='fa fa-plus'></i>添加</a>",
            onselectrow:false,
            onSelectRow:function(){
                $('#table').jqGrid('restoreRow',lastsel);
            },
            ondblClickRow: function(id){
                $('#table').jqGrid('editRow',id);
                lastsel = id;
            },
        });
   $('#table').delegate('input.editable','keypress', function(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { //Enter keycode
            var rowData = $('#table').getRowData(lastsel);
            var name = $.trim($("#"+lastsel+"_name").val());
            if( name == ''){
                layer.msg("请输入模型名称");
                return false;
            }
            $('#table').jqGrid('saveRow',lastsel,{
                url: editUrl,
                mtype : "POST",
                extraparam : {id:rowData.id},
                restoreAfterError: true,
                successfunc: function(response){
                    layer.msg(response.responseJSON.info);
                    $("#table").trigger("reloadGrid");
                    if( response.responseJSON.status ){
                        return true;
                    } else {
                        return false;
                    }
                },
                errorfunc: function(rowid, res){
                    var data = JSON.parse(res.responseText);
                    layer.msg(data.info);
                }
            });
        }
    });
})

        
    </script>
    <script type="text/javascript">
        function specFun(id){
            url = "{$specUrl}/tid/"+id;
            layer.open({
            type: 2,
            title: '规格列表',
            shadeClose: true,
            shade: 0.3,
            area: ['80%', '95%'],
            content: url, 
            end: function () {
                $("#table").trigger("reloadGrid");
            }
        });
        }
    </script>
</block>