<extend name="Public:header" />
<block name="title">
    <title>唯公商城-管理主页</title>
</block>
<block name="content">
    <body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-content" id="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="table"></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="__ADMIN__/js/plugins/layer/laydate/laydate.js"></script>
    <script src="__ADMIN__/js/public.js"></script>
    <script src="__ADMIN__/js/jqgrid.js"></script>
    <script>
        var jqgrid_coloumn=[

            {label: '用户编号', name: 'number', index: 'number',  align: 'center',},
            {label: '补偿金额', name: 'cmoney', index: 'cmoney',  align: 'center',},
            {label: '备注', name: 'memo', index: 'memo',  align: 'center',},
            {label: '创建时间', name: 'createTime', index: 'createTime',  align: 'center',},
        ];
        var caption='补偿金列表';
        var reurl="{:U('compen')}";
        var loadComplete=function(){};
        var ondblClickRow=function(id){
        };
        var onCellSelect=function(rowid, iCol, cellcontent, e){
        };
        var footerrow=false;
        getGrid(jqgrid_coloumn,loadComplete,ondblClickRow,onCellSelect,"id",caption,reurl,footerrow);
    </script>
    </body>
</block>