<extend name="Public:header" />
<block name="content">
    <body class="gray-bg">
   <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <form class="form-inline" id="search-form">
                            
                            <div class="input-group">
                                <input type="text" class="form-control" name="keyword" placeholder="反馈关键字" style="width:150px;" >
                            </div>

                            <div class="input-group">
                                <select name="fState" id="fState"  class="form-control" style="width:150px;" >
                                    <option value="" >处理状态</option>
                                    <option value="0" >未处理</option>
                                    <option value="1" >已处理</option>
                                </select>
                            </div>

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn-sm btn-primary " type="button" id ="search-btn" ><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <div class="input-group">
                                 <button class="btn-sm btn-primary " type="button" id="search-clear" ><i class="fa fa-undo"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="table" style="border-collapse: collapse"></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
<script>
var dataUrl = "{$dataUrl}";
var delUrl = "{$delUrl}";
var editUrl = "{$editUrl}";
var showUrl = "{$showUrl}";

$(function(){
     $(document).ready(function() {
        $(window).bind("resize",function(){
            var width=$(".jqGrid_wrapper").width();
            $("#table").setGridWidth(width);
        })
    });
    $.jgrid.defaults.styleUI="Bootstrap";
    var lastsel;
    $("#table").jqGrid({
            url:dataUrl,
            datatype: "json",
            colNames:['ID','反馈内容','联系方式','反馈用户','处理备注','处理状态','反馈时间','操作'],
            colModel:[
                {name:'id',index:'id', width:55,editable: false,sortable: false,align:'center'},
                {name:'context',index:'context',editable: false,sortable: false,align:'center',width:350},
                {name:'phone',index:'phone',editable: false,sortable: false,align:'center',width:100},
                {name:'uid',index:'uid',editable: false,sortable: false,align:'center',width:100},
                {name:'remark',index:'remark',editable: true,sortable: false,align:'center',width:150},
                {name:'status',index:'status',editable: false,sortable: false,align:'center',width:80,formatter:function (a,b,c){
                    if(a == 0){
                        val = '<i class="fa fa-close" style="color:red"></i>';
                    } 
                    else{
                        val = '<i class="fa fa-check" style="color:#00a157"></i>';
                    } 
                    return '<a href="javascript:void(0);" onclick="changeStatus('+c.id+','+a+')">'+val +'</a>';
                }},
                {name:'createTime',index:'createTime',editable: false,sortable: true,align:'center',width:100},
                {width:60,sortable: false,align:'center',formatter: function (a, b, c) {
                        var btn = '';
                        
                        btn += '&nbsp;<a href="javascript:void(0);" onclick="deleteFun(' + c.id + ')"><i title="删除" class="fa fa-trash"></i></a>';
                        
                        return btn;   
                    }
                },
            ],
            rowNum:10,
            rowList:[10,20,30],
            pager: '#pager',
            sortname: 'id',
            viewrecords: true,
            autowidth:true,
            height: 'auto',
            emptyrecords: "暂无数据",
            sortorder: "desc",
            caption:"反馈列表&nbsp;&nbsp;<span style='color:orange;font-size: 10px;'>双击行编辑备注</span>",
            onselectrow:true,
            onSelectRow:function(){
                $('#table').jqGrid('restoreRow',lastsel);
            },
            ondblClickRow: function(id){
                $('#table').jqGrid('editRow',id);
                lastsel = id;
            },
        });

        $('#table').delegate('input.editable','keypress', function(e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                var rowData = $('#table').getRowData(lastsel);
            
                $('#table').jqGrid('saveRow',lastsel,{
                    url: editUrl,
                    mtype : "POST",
                    extraparam : {id:rowData.id},
                    restoreAfterError: true,
                    successfunc: function(response){
                        layer.msg(response.responseJSON.info);
                        if( response.responseJSON.status ){
                            $("#table").trigger("reloadGrid");
                            return true;
                        } else {
                            return false;
                        }
                    },
                    errorfunc: function(rowid, res){
                        var data = JSON.parse(res.responseText);
                        layer.msg(data.info);
                    }
                });
            }
        }); 
    
})

        
    </script>

</block>