<extend name="Public:header" />
<block name="content">
    <body class="gray-bg">
   <div class="wrapper wrapper-content  animated fadeInRight">
       
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-content">
                    <form class="form-inline" id="form-search">
                        <div class="input-group">
                            <input type="text" class="form-control" name="username" id="username" style="width:150px;" placeholder="昵称">
                        </div>

                        <div class="input-group">
                            <input type="text" class="form-control" name="mobile" id="mobile" style="width:150px;" placeholder="手机号码">
                        </div>

                            <div class="input-group">
                            <select class="form-control" name="type" id="type"  style="width:150px;" >
                                <option value="" >请选择角色</option>
                                <foreach name="type" item="vo" >
                                    <option value="{$vo['id']}" >{$vo['title']}</option>
                                </foreach>
                            </select>
                        </div>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn-sm btn-primary" type="button" id ="search-btn" ><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                        <div class="input-group">
                            <button class="btn-sm btn-primary" type="button" id="search-clear"><i class="fa fa-undo"></i></button>
                        </div>
                    </form>
                </div>
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="table" style="border-collapse: collapse"></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
<script>
var dataUrl = "{$dataUrl}";
var addUrl = "{$addUrl}";
var delUrl = "{$delUrl}";
var showUrl = "{$showUrl}";
$(function(){
    $(document).ready(function() {
        $(window).bind("resize",function(){
            var width=$(".jqGrid_wrapper").width();
            $("#table").setGridWidth(width);
        })
    });
    $.jgrid.defaults.styleUI="Bootstrap";
    var lastsel;
        $("#table").jqGrid({
            url:dataUrl,
            datatype: "json",
            colNames:['ID','昵称','角色','手机号码','最后登录时间','最后登录IP','状态','操作'],
            colModel:[
                {name:'id',index:'id', width:55,align:"center"},
                {name:'username',index:'username',editable: true,sortable: false,align:"center"},
                {name:'title',index:'title',editable: true,sortable: false,align:"center"},
                {name:'mobile',index:'mobile',editable: true,sortable: false,align:"center"},
                {name:'loginTime',index:'loginTime',editable: true,sortable: false,align:"center"},
                {name:'loginIp',index:'loginIp',editable: true,sortable: false,align:"center"},
                {name:'status',align:"center",index:'status',formatter:function (a,b,c){
                    if(a == 0){
                        return "<span style='color:red'>禁用</span>";
                    }else if(a == -1){
                        return "<span style='color:orangered'>锁定</span>";
                    }
                    else{
                        return "<span style='color:green'>正常</span>";
                    }
                }},
                {width:100,sortable: false,align:"center",formatter: function (a, b, c) {
                        var btn = '<a href="javascript:void(0);" onclick="addFun(' + c.id + ')"  ><i class="fa fa-edit"></i></a>';
                        if(c.status == -1){
                            btn += '&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="unLock(' + c.id + ')"><i class="fa fa-key"></i></a>';
                        }
                        if( c.id != 1 ) {
                            btn += '&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="deleteFun(' + c.id + ')" ><i class="fa fa-trash"></i></a>';
                        }
                        return btn; 
                    }
                },
            ],
            rowNum:10,
            rowList:[10,20,30],
            pager: '#pager',
            sortname: 'id',
            viewrecords: true,
            autowidth:true,
            height: 'auto',
            emptyrecords: "暂无数据",
            sortorder: "asc",
            caption:"<a href='javascript:void(0)' onclick='addFun()'><i class='fa fa-plus'></i>添加</a>",
            onselectrow:true,
            onSelectRow:function(){
                //$('#table').jqGrid('restoreRow',lastsel);
            },
            ondblClickRow: function(id){
                //$('#table').jqGrid('editRow',id);
                //lastsel = id;
            }, 
        });
});
    function unLock(id){
        $.ajax({
            url: "{:U('unLock')}",
            data: {
                "id": id
            },
            type: "post",
            success: function(data) {
                if (data.status) {
                    layer.msg(data.info, {
                        icon: 1,
                        offset: 0,
                        shift: 0,
                        time: 1500
                    }, function() {
                        $("#table").trigger("reloadGrid");
                    });
                } else {
                    layer.msg(data.info, {
                        icon: 0,
                        offset: 0,
                        shift: 6,
                        time: 1500
                    });
                }
            },
            error: function(error) {
                alert(data.info);
            }
        });
    }
        
    </script>

</block>