<extend name="Public:header" />
<block name="content">
    <body class="gray-bg">
   <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="jqGrid_wrapper">
                            <table id="table" style="border-collapse: collapse"></table>
                            <div id="pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
<script>
var dataUrl = "{$dataUrl}";
var addUrl = "{$addUrl}";
var delUrl = "{$delUrl}";
var showUrl = "{$showUrl}";
$(function(){
    $(document).ready(function() {
        $(window).bind("resize",function(){
            var width=$(".jqGrid_wrapper").width();
            $("#table").setGridWidth(width);
        })
    });
    $.jgrid.defaults.styleUI="Bootstrap";
    var lastsel;
        $("#table").jqGrid({
            url:dataUrl,
            datatype: "json",
            colNames:['ID','角色名称', '角色状态','操作'],
            colModel:[
                {name:'id',index:'id', width:55, align: 'center'},
                {name:'title',index:'title',editable: true,sortable: false, align: 'center'},
                {name:'status',index:'status', align: 'center',formatter:function (a,b,c){
                    if(a == 0){
                        val = '<i class="fa fa-close" style="color:red"></i>';
                    } 
                    else{
                        val = '<i class="fa fa-check" style="color: #00a157"></i>';
                    } 
                    return '<a href="javascript:void(0);" onclick="changeStatus('+c.id+','+a+')">'+val +'</a>';
                }},
                {width:100,sortable: false, align: 'center',formatter: function (a, b, c) {
                    var btn = '<a href="javascript:void(0);" onclick="addFun(' + c.id + ')"><i class="fa fa-edit"></i></a>';
                        if( c.id != 1 ) {
                                btn += '&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="deleteFun(' + c.id + ')"><i class="fa fa-trash"></i></a>';
                        }
                        return btn;  
                    }
                },
            ],
            rowNum:10,
            rowList:[10,20,30],
            pager: '#pager',
            sortname: 'id',
            viewrecords: true,
            autowidth:true,
            height: 'auto',
            emptyrecords: "暂无数据",
            sortorder: "asc",
            caption:"<a href='javascript:void(0)' onclick='addFun()'><i class='fa fa-plus'></i>添加</a>",
            onselectrow:true,
            onSelectRow:function(){
                //$('#table').jqGrid('restoreRow',lastsel);
            },
            ondblClickRow: function(id){
                //$('#table').jqGrid('editRow',id);
                //lastsel = id;
            }, 
        });

       $('#table').delegate('input.editable','keypress', function(e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { //Enter keycode
                var rowData = $('#table').getRowData(lastsel);

                var bSortVal = $("#"+lastsel+"_bSort").val();
                if(!isNumber(bSortVal)){
                    layer.msg("排序格式错误");
                    return false;
                }
                
                $('#table').jqGrid('saveRow',lastsel,{
                    url: "{:U('Banner/editRow')}",
                    mtype : "POST",
                    extraparam : {bId:rowData.bId},
                    restoreAfterError: true,
                    successfunc: function(response){
                        layer.msg(response.responseJSON.info);
                        if( response.responseJSON.status ){
                            return true;
                        } else {
                            return false;
                        }
                    },
                    errorfunc: function(rowid, res){
                        layer.msg('数据已存在');
                    }
                });
            }
        }); 
    
})

        
    </script>

</block>