<extend name="Public:header" />
<block name="content">
    <body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>选择规格</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td>商品规格</td>
                                <td>商品价格</td>
                                <td>商品库存</td>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                                <volist name="spec" id="v">
                                    <tr>

                                        <td>{$v.key_name}</td>
                                        <td>{$v.price}</td>
                                        <td>{$v.store}</td>
                                        <td>
                                        <if condition="$gsId eq $v['id']">
                                            <else/>
                                            <a class="btn-sm btn-primary btn-rounded btn-outline" onclick="sure({$v.id})">确定</a>
                                        </if>
                                        </td>

                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        var id={$id};
        function sure(gsid){
            $.post("selectSpec",{gsId:gsid,id:id},function(data){
                layer.msg(data.msg);
                if(data.status==1){
                    location.replace(location.href);
                }
            })
        }
    </script>
</block>
