<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <block name="title"><title>唯公商城-商家管理主页</title></block>

    <meta name="keywords" content="唯公商城">
    <meta name="description" content="唯公商城">

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <!--<link rel="shortcut icon" href="favicon.ico">-->

    <link href="__ADMIN__/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__ADMIN__/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__ADMIN__/css/animate.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.min862f.css?v=4.1.0" rel="stylesheet">

    <script src="__ADMIN__/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ADMIN__/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ADMIN__/js/content.min.js?v=1.0.0"></script>

    <!-- jqGrid -->
    <link href="__ADMIN__/css/plugins/jqgrid/ui.jqgridffe4.css?0820" rel="stylesheet">
    <script src="__ADMIN__/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820"></script>
    <script src="__ADMIN__/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820"></script>
    

    <script src="__ADMIN__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/js/contabs.min.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>

    
    <script src="__ADMIN__/js/check.js"></script>
    <block name="stylejs"></block>
</head>
<block name="content"></block>

<script src="__ADMIN__/js/plugins/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="__ADMIN__/js/func.js"></script>
</html>